FoamFile { version 2.0; format ascii; class dictionary; object controlDict; }
application     simpleFoam;
startFrom       startTime;
startTime       0;
stopAt          endTime;
endTime         {{ end_time }};
deltaT          1;
writeControl    timeStep;
writeInterval   {{ write_interval }};
purgeWrite      0;
writeFormat     ascii;
writePrecision  6;
writeCompression off;
timeFormat      general;
timePrecision   6;
runTimeModifiable true;

functions
{
    residuals
    {
        type            residuals;
        libs            (utilityFunctionObjects);
        fields          (U p);
        writeControl    timeStep;
        writeInterval   10;
    }
}

// ************************************************************************* //
