FoamFile { version 2.0; format ascii; class dictionary; object fvSolution; }
solvers
{
    p { solver GAMG; tolerance 1e-06; relTol 0.01; smoother GaussSeidel; }
    U { solver smoothSolver; smoother symGaussSeidel; tolerance 1e-05; relTol 0.1; }
}
SIMPLE
{
    nNonOrthogonalCorrectors 0;
    consistent yes;
    residualControl
    {
        p               1e-5;
        U               1e-5;
    }
}
relaxationFactors { fields { p 0.3; U 0.7; } equations { U 0.7; "U.*" 0.7; } }

// ************************************************************************* //
