/*--------------------------------*- C++ -*----------------------------------*\
  snappyHexMeshDict
\*---------------------------------------------------------------------------*/
FoamFile { version 2.0; format ascii; class dictionary; object snappyHexMeshDict; }

castellatedMesh true;
snap            true;
addLayers       false;

geometry
{
    cylinder.stl { type triSurfaceMesh; name cylinder; }
}

castellatedMeshControls
{
    maxLocalCells 100000;
    maxGlobalCells 200000;
    minRefinementCells 0;
    maxLoadUnbalance 0.10;
    nCellsBetweenLevels 3;
    features ();
    refinementSurfaces
    {
        cylinder { level (2 3); }
    }
    resolveFeatureAngle 30;
    refinementRegions {}
    locationInMesh ({{ seed_x }} {{ seed_y }} 0);
    allowFreeStandingZoneFaces true;
}

snapControls
{
    nSmoothPatch 3;
    tolerance 2.0;
    nSolveIter 100;
    nRelaxIter 5;
}

addLayersControls {}

meshQualityControls
{
    maxNonOrtho 65;
    maxBoundarySkewness 20;
    maxInternalSkewness 4;
    maxConcave 80;
    minVol 1e-13;
    minTetQuality 1e-9;
    minArea -1;
    minTwist 0.02;
    minDeterminant 0.001;
    minFaceWeight 0.02;
    minVolRatio 0.01;
    minTriangleTwist -1;
    nSmoothScale 4;
    errorReduction 0.75;
}

mergeTolerance 1e-6;

// ************************************************************************* //
